<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidpanin">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_book"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_book_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeBlack"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".task711.EveningActivity"
            android:parentActivityName=".task711.T_711">
            <intent-filter>
                <action android:name="android.intent.action.SYNC"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="evening"/>
            </intent-filter>
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task711.T_711" />
        </activity>
        <activity android:name=".task711.AfternoonActivity"
            android:parentActivityName=".task711.T_711">
            <intent-filter>
                <action android:name="android.intent.action.SYNC"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="afternoon"/>
            </intent-filter>
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task711.T_711" />
        </activity>
        <activity android:name=".task711.MorningActivity"
            android:parentActivityName=".task711.T_711">
            <intent-filter>
                <action android:name="android.intent.action.SYNC"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="morning"/>
            </intent-filter>
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".task711.T_711" />
        </activity>
        <activity
            android:name=".task722.T_722"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task721.T_721"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task711.T_711"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task612.T_612"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task611.T_611"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task522.T_522"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task521.T_521"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity android:name=".task512.BackgroundSettings" />
        <activity
            android:name=".task512.T_512"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task511.T_511"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task422.T_422"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task421.T_421"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".task412.T_412"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_411"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_342"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_341"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_332"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_331"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_322"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_321"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_312"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity android:name=".ToolbarActivity" />
        <activity
            android:name=".T_311"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_221"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_213"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_212"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_211"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_121"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity
            android:name=".T_122"
            android:parentActivityName=".StartScreenActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartScreenActivity" />
        </activity>
        <activity android:name=".StartScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>